html, body {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    width: 393px;
    height: 100%;
    margin: 0;
}

.container {
    margin-left: 60px;
    margin-right: 60px;
}

.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
    margin-top: 82px;
}

.topBar-membership {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #000000;
}

.topBar-classfit {
    font-family: 'Exo';
    font-style: italic;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #7C89FF;
}

.topBar-profileIcon {
    width: 24px;
    height: 24px;
}

.centerInfo-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center-info {
    margin-left: 50px;  
    margin-right: 50px;
}

.centerInfo-shareIcon {
    width: 16px;
    height: 18px;
    object-fit: contain;
}

.centerName {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 44px;
    color: #000000;
}

.centerImage {
    width: 272px;
    height: 140px;
    margin-bottom: 27px;
}

.map-container {
    width: 276px;
    height: 150px;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.locationInfo {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    margin-bottom: 0px;
}

.centerAddress .centerPhone{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    color: #000000;
}

.location-icon {
    width: 14px;
    height: 14px;
    padding-right: 8px;
}

.phoneInfo {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    margin-bottom: 18px;
}

.phone-icon {
    width: 15px;
    height: 13px;
    padding-right: 8px;
}

.tab-container {
    background-color: rgba(124, 137, 255, 0.6);
    height: 100%;
    width: 393px;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tabs button {
    border: none;
    color: #000; /* 기본 글자 색 */
    padding-top: 14px;
    cursor: pointer;
    opacity: 0.6; /* 비활성화된 탭의 투명도 */
    background-color: transparent; 
}

.tabs button.active {
    font-weight: bold;
    opacity: 1; /* 활성화된 탭은 투명도 제거 */
    background-color: transparent;  
}

.infoTab, .scheduleTab {
    border-bottom: 2px solid #303030;
    padding-bottom: 1px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #303030;
}

.infoTab.active, .scheduleTab.active {
    border-bottom: 2px solid #303030; /* 활성화된 탭에 대한 스타일 */
}

.tab-content {
    padding: 20px;
    display: none;
    margin-left: 25px;
}

.tab-content.active {
    display: block;
}

.centerInfo {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 44px;
    color: #000000;
}

.facility-icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2개의 열을 가지는 그리드 */
    justify-content: start;
    margin: 20px 0;
}

.facility-icons button {
    background-color: #7C89FF;
    border: none;
    padding: 8px 19px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

.facility-icons button:focus {
    outline: none;
    background-color: #d0d0d0;
}

.image-gallery {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.image-gallery img {
    width: 48%;
    border-radius: 10px;
}

.info-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding-top: 30px;
}

.info-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2개의 열을 가지는 그리드 */
    justify-content: start;
    margin: 20px 0;
}

.info-section button {
    background-color: #7C89FF;
    border: none;
    padding: 8px 19px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 15px;
    margin-bottom: 10px;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

.reviews {
    background-color: white;
    height: 100%;
    margin-bottom: 0;
}

.reviewTitle-container {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #D9D9D9;
    width: 100%;
}

.review-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-right: 8px;
    margin-left: 30px;
    margin-top: 30px;
}

.starIcon-top {
    margin-right: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #7C89FF;
    margin-top: 28px;
}

.reviewTitle-score {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    margin-top: 30px;
}

.reviewSmallTitle-container {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    margin-left: 30px;
    margin-bottom: 0;
}

.reviewPage-profileIcon {
    width: 29px;
    height: 29px;
    margin-top: 4px;
}

.reviewer-name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-top: 20px;
    margin-left: 6px;
}

.review-name-container {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    margin-left: 30px;
}

.review-name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-right: 142px;
    margin-top: 0;
}

.starIcon {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #7C89FF;
    margin-left: 5px;
    margin-top: 0;
}

.review-score {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-left: 5px;
    margin-top: 0;
}

.reviewComment-container {
    margin-left: 20px;
    margin-right: 15px;
}

.reviewComment-container button{
    background-color: #7C89FF;
    border: none;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 4px;
    margin-bottom: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    }

.review-content {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 23px;
    margin-left: 20px;
    margin-right: 15px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 98px;
    border-top: 2px solid #D9D9D9;
    width: 100%;
    padding-top: 31px;
}

.page-number,
.pagination-arrow {
    border: none;
    background-color: transparent;
    font-size: 16px;
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
    color: #000;
}

.page-number.active {
    font-weight: bold;
    color: #7C89FF;
}

.dots {
    font-size: 16px;
    padding: 10px;
    margin: 0 5px;
}

.pagination-arrow:disabled {
    color: #ccc;
    cursor: not-allowed;
}












.scheduleList {
    list-style-type: none; /* 리스트 스타일 제거 */
    margin: 10px 0; /* 항목 간 간격 */
    background: #E5E7FF;
    border-radius: 5px;
    text-decoration: none;
}

.scheduleItem {
    border: 1px solid #ccc; /* 테두리 */
    border-radius: 5px; /* 모서리 둥글게 */
    padding: 15px; /* 내부 여백 */
    background-color: #f9f9f9; /* 배경색 */
    transition: box-shadow 0.3s; /* 호버 효과를 위한 전환 */
}

.scheduleItem:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* 호버 시 그림자 효과 */
}

.reservationButton {
    background-color: #4CAF50; /* 버튼 배경색 */
    color: white; /* 버튼 텍스트 색 */
    padding: 10px 15px; /* 버튼 내부 여백 */
    border: none; /* 테두리 제거 */
    border-radius: 5px; /* 모서리 둥글게 */
    cursor: pointer; /* 커서 모양 변경 */
}

.reservationButton:hover {
    background-color: #45a049; /* 호버 시 배경색 변경 */
}
