@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');
body {
    font-family: 'Noto Sans KR';
    margin: 20px;
}
.logo {
    width: 150px;
    margin-bottom: 10px;
    align-items: center;
    display: block;
    margin-left: 20%;
}
.user-icon {
    width: 30px;
    margin-bottom: 10px;
    margin-left: 20%;
    align-items: right;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.membership-button {
    background-color: transparent;
    border: none;
    font-size: 14px;
    color: #555;
    cursor: pointer;
    font-weight: bold;
    white-space: nowrap;
}

.membership-item {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #efe7ff;
    border-radius: 5px;
    display: flex;
    flex-direction: column; /* 세로 정렬을 위해 flex-direction을 column으로 변경 */
    align-items: flex-start; /* 아이템을 왼쪽으로 정렬 */
    background: #e5e7ff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.describe {
    margin-top: 10px; /* 금액과 설명 사이의 여백 */
    font-size: 16px;
    color: #555;
}
.title-and-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.purchase-button {
    padding: 10px 20px;
    background-color: #7c89ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.purchase-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
@media (max-width: 390px) and (max-height: 850px) {
    .logo {
        width: 80px;
    }

    button {
        padding: 8px 16px;
        font-size: 14px;
    }
}
