<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CLASSFIT 회원가입</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body>
    <div class="header">
        <!-- Back button -->
        <img src="{% static 'img/back.png' %}" id="back-btn" alt="뒤로 가기" class="back-btn" onclick="goBack()">
        <!-- Logo -->
        <img src="{%static 'img/logo.png' %}" alt="CLASSFIT 로고" class="logo">
    </div>
    {% block content %}
    <div class="wrapper">
        <h1 class="title">회원가입</h1>
        <form method="POST">
            {% csrf_token %}
            <form id="signupForm" onsubmit="return validateForm()">
                <div class="input-container">
                    <span class="required">*</span>
                    <input name="email" type="email" class="input-field" placeholder="이메일(아이디)" value="{{ request.POST.email }}">
                    {% if form_errors.email %}
                    <p class="error-message">{{ form_errors.email }}</p>
                    {% endif %}
                </div>
            
            <div class="input-container">
                <span class="required">*</span>
                <input name="password" type="password" class="input-field" placeholder="비밀번호(8자 이상, 문자/숫자/기호 사용 가능)" value="{{ request.POST.password }}">
                {% if form_errors.password %}
                <p class="error-message">{{ form_errors.password }}</p>
                {% endif %}
            </div>

            <div class="input-container">
                <span class="required">*</span>
                <input name="repeat_password" name="password" class="input-field" placeholder="비밀번호 확인" value="{{ request.POST.repeat_password }}">
                <p class="error-message" id="repeated-password-error"></p>
            </div>

            <div class="input-container">
                <span class="required">*</span>
                <input name="nickname" type="text" class="input-field" placeholder="닉네임(1-8자)" value="{{ request.POST.nickname }}">
                {% if form_errors.nickname %}
                <p class="error-message">{{ form_errors.nickname }}</p>
                {% endif %}
            </div>

            <div class="input-container">
                <span class="required">*</span>
                
                <!-- Gender buttons -->
                <button type="button" id="female-btn" class="gender-btn" {% if request.POST.gender == 'female' %}selected{% endif %}>
                    여성
                </button>
                <button type="button" id="male-btn" class="gender-btn {% if request.POST.gender == 'male' %}selected{% endif %}">
                    남성
                </button>
                
                <!-- Hidden input to store selected gender -->
                <input type="hidden" name="gender" id="gender" value="{% if request.POST.gender %}{{ request.POST.gender }}{% endif %}">
                
                <p class="error-message" id="gender-error"></p>
            </div>
            

            <div class="input-container">
                <span class="required">*</span>
                <label for="birth" class="label-text">생년월일</label>
                <div class="birth-inputs">
                    <input type="text" id="birth_year" class="birth-field" p maxlength="4">
                    <label for="birth" class="label-text">년</label>
                    <input type="text" id="birth_month" class="birth-field" maxlength="2">
                    <label for="birth" class="label-text">월</label>
                    <input type="text" id="birth_day" class="birth-field" maxlength="2">
                    <label for="birth" class="label-text">일</label>
                </div>
                <p class="error-message" id="birth-error"></p>
            </div>
            
            <div class="last">
                <input type="radio" name="privacy" id="privacy-agree" value="agree">
                <label for="privacy-agree">개인 정보 수집 및 이용(필수)
                <button type="button" id="privacy" class="privacylist"> 전체 >
                <p class="error-message" id="privacy-error"></p>
            </div>

            <input type="submit" class="submit-btn" value="가입하기">
            <p class="error-message" id="submit-error"></p>
        </form>
    </div>

    <script src="../static/js/signup.js"></script>
</body>
</html>
