<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입완료</title>
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">
</head>
<body>
    <div class="container">
        <img src="{% static 'img/logo.png' %}" alt="CLASSFIT 로고" class="logo">
        <p>환영합니다, <span id="nickname">{{ nickname }}</span>님</p>
        <p>회원가입이 완료되었습니다.</p>
        <a href="{% url 'signInUp:login' %}">
            <button id="loginButton">로그인하러 가기</button>
        </a>
    </div>

    <script>
        // 백엔드에서 닉네임 데이터를 받아와서 표시
        document.getElementById('nickname').textContent = '{{ request.POST.nickname }}';
       
    </script>
</body>
</html>
