{% block content %}
<div class="wrapper" style="text-align: center;">
    <h1>회원가입</h1>
    <form method="POST">
        {% csrf_token %}
        이메일: <br>
        <input name="email" type="email" value="{{ request.POST.email }}">
        <br>
        {% if form_errors.email %}
            <p style="color: red;">{{ form_errors.email }}</p>
        {% endif %}
        비밀번호: <br>
        <input name="password" type="password" value="{{ request.POST.password }}">
        <br>
        {% if form_errors.password %}
            <p style="color: red;">{{ form_errors.password }}</p>
        {% endif %}
        비밀번호 확인: <br>
        <input name="repeat_password" type="password" value="{{ request.POST.repeat_password }}">
        <br>
        닉네임: <br>
        <input name="nickname" type="text" value="{{ request.POST.nickname }}">
        <br>
        {% if form_errors.nickname %}
            <p style="color: red;">{{ form_errors.nickname }}</p>
        {% endif %}
        성별: <br>
        <input type="radio" name="gender" value="male" {% if request.POST.gender == 'male' %}checked{% endif %}> 남자
        <input type="radio" name="gender" value="female" {% if request.POST.gender == 'female' %}checked{% endif %}> 여자
        <br>
        생년월일: <br>
        <input name="birth_year" type="text" placeholder="YYYY" maxlength="4" value="{{ request.POST.birth_year }}">년
        <input name="birth_month" type="text" placeholder="MM" maxlength="2" value="{{ request.POST.birth_month }}">월
        <input name="birth_day" type="text" placeholder="DD" maxlength="2" value="{{ request.POST.birth_day }}">일
        <br>
        <input type="checkbox" name="privacy_agree" {% if request.POST.privacy_agree %}checked{% endif %}> 개인 정보 수집 및 이용(필수)
        <br><br>
        <input type="submit" class="btn btn-primary" value="가입">
        {% if missing_fields %}
            <p style="color: red;">{{ missing_fields.0 }}</p>
        {% endif %}
    </form>
</div>
{% endblock %}