<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Exo:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
    <link rel="stylesheet" href="/Team1/Team1/static/css/centerList.css">
    <title>리뷰</title>
</head>
<body>
    <div class="container">
        <div class="topBar">
            <p class="topBar-membership">멤버십</p>
            <P class="topBar-classfit">CLASSFIT</P>
            <img src="/Team1/Team1/static/img/profile-icon.png" alt="프로필 아이콘" class="topBar-profileIcon">
        </div>
    </div>
    <div class="secondContainer"></div>
        <div class="dropdown-container">
            <div class="dropdown">
                <i class="fas fa-caret-down"></i>
                <select>
                    <option value="option1">청파동</option>
                    <option value="option2">이촌1동</option>
                    <option value="option3">한강로동</option>
                    <option value="option4">남영동</option>
                    <option value="option5">이태원1동</option>
                    <option value="option6">한남동</option>
                </select>
            </div>
            <div class="dropdown">
                <select>
                    <option value="option7">PT&헬스</option>
                    <option value="option8">테니스&배드민턴</option>
                    <option value="option9">필라테스</option>
                    <option value="option10">요가</option>
                    <option value="option11">골프</option>
                    <option value="option12">수영</option>
                    <option value="option13">복싱</option>
                </select>
            </div>
            <button class="btn">검색</button>
        </div>
    </div>
    <script src="/Team1/Team1/static/js/centerList.js"></script>
</body>
</html>