<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/mainPage.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <button id="membership-btn" class="membership-button" onclick="location.href='{% url 'membership' %}'">멤버십</button>
            <img src="{% static 'img/logo.png' %}" alt="CLASSFIT 로고" class="logo">
            <button id="user-icon" onclick="location.href='{% url 'myPage' %}'">
                <img src="{% static 'img/account.png' %}" class="user-icon">
            </button>     
    </div>
   
    <div class="search">
        <select id="dong" class="dropdown">
            <option value="">동/읍 선택</option>
            <option value="효창동">효창동</option>
            <option value="이촌1동">이촌1동</option>
            <option value="이촌2동">이촌2동</option>
            <option value="한강로동">한강로동</option>
            <option value="남영동">남영동</option>
            <option value="이태원1동">이태원1동</option>
            <option value="한남동">한남동</option>
            <option value="청파동">청파동</option>
            <!-- 다른 동/읍 옵션 추가 -->
        </select>
        <select id="exercise" class="dropdown">
            <option value="">운동 종류 선택</option>
            <option value="PT&헬스">PT&헬스</option>
            <option value="필라테스">필라테스</option>
            <option value="요가">요가</option>
            <option value="크로스핏">크로스핏</option>
            <option value="골프">골프</option>
            <option value="테니스&배드민턴">테니스&배드민턴</option>
            <option value="복싱">복싱</option>
            <option value="수영">수영</option>
            <!-- 다른 운동 종류 옵션 추가 -->
        </select>
        <button id="searchButton" class="search-button">검색</button>
    </div>

    <div id="results">
        <h2>지금 바로 예약해보세요 ></h2>
        <!-- 검색 결과가 여기에 표시됩니다 -->
    </div>
    <script>
        // 페이지가 처음 로드될 때 데이터를 가져옵니다.
        document.addEventListener('DOMContentLoaded', function() {
            fetch(`/mainPage/filter_centers/`)
                .then(response => response.json())
                .then(data => {
                    const resultsDiv = document.getElementById('results');
                    resultsDiv.innerHTML = ''; 

                    if (data.length > 0) {
                        data.forEach(center => {
                            const resultItem = document.createElement('div');
                            resultItem.classList.add('result-item');
                            resultItem.innerHTML = `
                                <h3>${center['센터 이름']}</h3>
                                <img src="${center['사진']}" alt="${center['센터 이름']} 사진">
                                <h3>${center['주소']}</h3>
                            `;
                            resultItem.addEventListener('click', function() {
                                window.location.href = `center/${center['id']}/`;
                            });
                            resultsDiv.appendChild(resultItem);
                        });
                    } else {
                        resultsDiv.innerHTML = '<p>검색 결과가 없습니다.</p>';
                    }
                });
        });

    
        document.getElementById('searchButton').addEventListener('click', function() {
        const dong = document.getElementById('dong').value;
        const exercise = document.getElementById('exercise').value;

        fetch(`/mainPage/filter_centers/?dong=${dong}&exercise=${exercise}`)
            .then(response => response.json())
            .then(data => {
                const resultsDiv = document.getElementById('results');
                resultsDiv.innerHTML = ''; 

                if (data.length > 0) {
                    data.forEach(center => {
                        const resultItem = document.createElement('div');
                        resultItem.classList.add('result-item');
                        resultItem.innerHTML = `
                            <h3>${center['센터 이름']}</h3>
                            <img src="${center['사진']}" alt="${center['센터 이름']} 사진">
                        `;
                        resultItem.addEventListener('click', function() {
                            window.location.href = `center/${center['id']}/`;
                        });
                        resultsDiv.appendChild(resultItem);
                    });
                } else {
                    resultsDiv.innerHTML = '<p>검색 결과가 없습니다.</p>';
                }
            });
        });
    </script>    
</body>
</html>
