<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>멤버십</title>
    <link rel="stylesheet" href="../../Team1/static/css/membership.css">
</head>
<body>
    <div class="container">
        <header>
            <a href="../../Team1/templates/membership_purchase.html">
                <button id="membership-btn" class="membership-button">멤버십</button>
            </a>
            <img src="../../signInUp/static/png/logo.png" alt="CLASSFIT 로고" class="logo">
            <img src="../../myPage/static/account.png" alt="User Icon" class="user-icon">
        </header>
    </div>
    
    <div class="membership-item">
        <h2>프리미엄 멤버십<br>500,000원</h2><br>
        <button class="purchase-button" onclick="window.location.href='{% url 'membership_purchase' product='프리미엄 멤버십' %}'">구매</button>
        <!---<p class = "descibe">월 50만원으로 무제한 운동을 즐길 수 있어요</p>-->
    </div>

    <div class="membership-item">
        <h2>5 크레딧<br>100,000원</h2>
        <button class="purchase-button" onclick="window.location.href='{% url 'membership_purchase' product='5 크레딧' %}'">구매</button>
    </div>

    <div class="membership-item">
        <h2>3 크레딧<br>60,000원</h2>
        <button class="purchase-button" onclick="window.location.href='{% url 'membership_purchase' product='3 크레딧' %}'">구매</button>
    </div>

    <div class="membership-item">
        <h2>1 크레딧<br>20,000원</h2>
        <button class="purchase-button" onclick="window.location.href='{% url 'membership_purchase' product='1 크레딧' %}'">구매</button>
    </div>

    <script src="../../Team1/static/js/membership.js"></script>
</body>
</html>
